 <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" (click)="showCollapsible = !showCollapsible">
          What chord am I actually hearing?
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" [ngClass]="{'show': showCollapsible}" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <div class="container" [formGroup]="findSoundForm">
          <div class="row">
            <div class="col-9 col-sm-8 accordion-field-label">
              <p>If I play this chord fingering:</p>
            </div>
            <div class="col-3">
              <input type="text" class="form-control input-field" id="" formControlName="chordShape">
            </div>
          </div>
          <div class="row">
            <div class="col-9 col-sm-8 accordion-field-label ">
              With my capo on this fret:
            </div>
            <div class="col-3">
              <select class="form-control input-field" id="" formControlName="capoPosition">
                <option *ngFor="let fret of frets" [ngValue]="fret">
                  {{fret.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-9 col-sm-8 accordion-field-label">
              <button class="btn btn-primary btn-sm" type="button" (click)="findChordSound()">
                What chord am I hearing?
              </button>
            </div>
            <div class="col-2 answer">
              <h4>{{chordSound}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>