
#description-text {
    max-width: 545px;
}

#transposition-form {
    max-width: 600px;
    text-align: center;
}

.input-field {
    max-width: 100px;
    margin: 0 auto;
    text-align: center;
}

.accordion {
    padding-top: 30px;
}

/* --- */

.accordion-field-label {
    padding-top: 6px; 
}

.accordion-input {
    text-align: center;
}

.center {
    margin: auto;
    /* width: 50%; */
    max-width: 500px;
}

.btn-link {
    padding-left: 0px;
    padding-right: 0px;
}