
#description-text {
    max-width: 545px;
}

#transposition-form {
    max-width: 600px;
    text-align: center;
}

.input-field {
    max-width: 100px;
    margin: 0 auto;
    text-align: center;
}
