<div class="container" id="description-text">
  <p>
    Tired of using <a [href]="capoChartsGoogleSearchUrl" target="_blank">guitar capo charts</a>? This calculator replaces all of them.
  </p>
  <p>
    Simply enter the <a [href]="rootWikiUrl" target="_blank">root</a> of the chord you want to play (for example, an A# minor chord would correspond to just "A sharp") in the <i>Chord Shape</i> field, select the <i>Capo Fret</i>, and click the "Find Chord Sound" button on the right side.
    Then try any other combination! Fill out the fields for the <i>other two fields</i> in order to find the missing piece!
  </p>
</div>

<div class="container" id="transposition-form" [formGroup]="transpositionForm">
  <div class="row">
    <div class="col-sm">
      <div class="form-group">
        <label for="capoPosition">Capo Fret</label>
        <select class="form-control input-field" id="capoPosition" formControlName="capoPosition">
          <option *ngFor="let fret of frets" [ngValue]="fret">
            {{fret.name}}
          </option>
        </select>
      </div>
      <button type="button" id="btnCapoPosition" class="btn btn-primary btn-sm" (click)="generateCapoPosition()" [disabled]="allFieldsStable" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Find Fret</button>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <label for="chordShape">Chord Shape</label>
        <input type="text" class="form-control input-field" id="chordShape" placeholder="" formControlName="chordShape">
      </div>
      <button type="button" class="btn btn-primary btn-sm" (click)="generateChordShape()" [disabled]="allFieldsStable">Find Chord Shape</button>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <label for="chordSound">Chord Sound</label>
        <input type="text" class="form-control input-field" id="chordSound" placeholder="" formControlName="chordSound">
      </div>
      <button type="button" class="btn btn-primary btn-sm" (click)="generateChordSound()" [disabled]="allFieldsStable">Find Chord Sound</button>
    </div>
  </div>
</div>

<div class="accordion center" id="">
  <app-find-sound></app-find-sound>
  <app-find-shape></app-find-shape>
  <app-find-fret></app-find-fret>
</div>
