#title, h2{
    padding: 10px;
    text-align: center;
}

.accordion-field-label {
    padding-top: 6px; 
}

.accordion-input {
    text-align: center;
}

.center {
    margin: auto;
    /* width: 50%; */
    max-width: 500px;
}

.btn-link {
    padding-left: 0px;
    padding-right: 0px;
}

#teaser-text {
    padding-top: 30px;
    text-align: center;
}